# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3
*.db

# Sensitive configuration files
config.py
config.ini
.env

# Backup files
*.bak
*.swp
*~

# Specific project files
vpn_users.db
database.db
bot_old.py
bot_old_2.py
backup_pg.sh
docker-compose.yml
config copy.py
handlers/texts.py

# Miscellaneous
.DS_Store
Thumbs.db

nginx.conf
scripts
models.py
Dockerfile
.csv
/logs
setup.py
.ruff_cache
.github/workflows/