aiofiles==23.2.1
aiogram==3.2.0
aiohttp==3.9.5
aiosignal==1.3.1
aiosqlite==0.20.0
annotated-types==0.7.0
anyio==4.4.0
async-timeout==4.0.3
asyncpg==0.29.0
attrs==24.2.0
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
Deprecated==1.2.14
distro==1.9.0
exceptiongroup==1.2.2
frozenlist==1.4.1
greenlet==3.1.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.2
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.8
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
magic-filter==1.0.12
MarkupSafe==2.1.5
multidict==6.1.0
netaddr==1.3.0
numpy==2.1.1

packaging==24.1

priority==2.0.0
py3xui==0.2.3
pydantic==2.5.3
pydantic_core==2.14.6
pytz==2024.2
Quart==0.19.6
requests==2.32.3
sniffio==1.3.1
SQLAlchemy==2.0.34
taskgroup==0.0.0a4
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.4
wrapt==1.16.0
wsproto==1.2.0
yarl==1.11.1
yookassa==3.3.0
